<section>
    <h1>Prueba técnica</h1>
    <form [formGroup]="formulario" (ngSubmit)="comprobar()">
        <input 
            type="text" 
            placeholder="email"
            formControlName="email"
            [class.is-invalid]="emailNoValido">
            <small *ngIf="emailNoValido">Email no válido</small>
        <input 
            type="password" 
            placeholder="password"
            formControlName="password"
            [class.is-invalid]="passwordNoValido">
            <small *ngIf="passwordNoValido">Password no válido</small>
        <input 
            type="checkbox" 
            name="remember" 
            id="remember"
            formControlName="remember">
        <button type="submit">Enviar</button>
    </form>
</section>