<section class="background">
    <img class="logo-img" src="../../../assets/img/logo.jpg" alt="Logo">
    <h1>Prueba técnica</h1>
    <form class="form-container" [formGroup]="formulario" (ngSubmit)="comprobar()">
        <div class="input-field">
            <i class="material-icons prefix">person_outline</i>
            <input 
            class="input-login"
            type="text" 
            placeholder="email"
            formControlName="email"
            [class.is-invalid]="emailNoValido">
        </div>
        <small class="alert-text" *ngIf="emailNoValido">Email no válido</small>
        <div class="input-field">
            <i class="material-icons prefix">lock_outline</i>
            <input 
            class="input-login"
            type="password" 
            placeholder="password"
            formControlName="password"
            [class.is-invalid]="passwordNoValido">
        </div>
        <small class="alert-text" *ngIf="passwordNoValido">Password no válido</small>
        <div class="switch">
            <label>
                Recordar
                <input type="checkbox" name="remember" 
                id="remember"
                formControlName="remember">
                <span class="lever"></span>
            </label>
            </div>
        <button type="submit" class="btn waves-effect button-login">Acceder</button>
    </form>
</section>